* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-button {
    padding: 20px;
    border-radius: 9px;
    border-style: none;
    font-weight: 500;
    font-size: 20px;
}
button.btn-button {
    background-color: rgb(91, 235, 187);
    color: white;
    box-shadow: 0px 0px 30px aquamarine;
    border-bottom: 7px solid rgb(88, 209, 169);
    cursor: pointer;
    outline-style: none;
}

.modal-wrapper div{
    background-color: rgb(109, 109, 109);
    color: white;
    border-bottom: 7px solid rgb(73, 73, 73);
    box-shadow: 0px 0px 30px rgb(75, 75, 75);
}